.cards-grid {
    display: grid;
    background-color: white;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(180px, 260px));
    grid-template-rows: repeat(4, 180px);
    grid-auto-rows: 380px;
    grid-template-areas: 
        "sale1 sale1 product1 product2"
        "sale2 sale2 product1 product2"
        "product3 product4 sale3 sale3"
        "product3 product4 sale4 sale4"
}
html {
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}
.cards-grid * {
    border: 3px solid black;
    border-radius: 10px;
    background-color: cadetblue;
}
.sale-1 {grid-area: sale1;}
.sale-2 {grid-area: sale2;}
.sale-3 {grid-area: sale3;}
.sale-4 {grid-area: sale4;}

.product-1 {grid-area: product1;}
.product-2 {grid-area: product2;}
.product-3 {grid-area: product3;}
.product-4 {grid-area: product4;}

@media (max-width: 1209px) {
    .cards-grid {
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(8, 180px);
        grid-auto-rows: 380px;
        grid-template-areas: 
        "sale1 sale1"
        "sale2 sale2"
        "product1 product2"
        "product1 product2"
        "sale3 sale3"
        "sale4 sale4"
        "product3 product4"
        "product3 product4"
        ;
    }
}

@media (max-width: 400px) {
    .cards-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 140px);
        grid-auto-rows: 140px;
        width: 100%;
        grid-template-areas:
            "sale1"
            "sale2"
            "product1"
            "product1"
            "product2"
            "product2"
            "sale3"
            "sale4"
            "product3"
            "product3"
            "product4"
            "product4"
            ;
    }
}